<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/my-app.html">

<dom-module id="login-app2">

<template>

<template is="dom-if" if="{{!logado}}">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <style>
        :host {
          display: block;
      }
      h1 {text-align: center;}
      div {text-align: center;}

      </style>

      <iron-ajax id="hacerLogin"
                 url="http://localhost:3001/apitechu/v5/login"
                 method="POST"
                 handle-as="json"
                 on-response="mostrarResultadoLogin"
                 on-error="mostrarError">

      </iron-ajax>

        </br>
        </br>
        <h1> Login de Clientes </h1>

        <div class="row">
          <div class="col-md-12">
            </br>
            </br>
            E - mail: <input type="email" value="{{email::input}}">
            </br>
            Password: <input type="password" value="{{password::input}}">
            </br>
            </br>
            <button on-click="logar" class="btn btn-success">Login</button>
          </div>
        </div>


</template>

<template is="dom-if" if="{{logado}}">

  <my-app></my-app>


</template>
</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp2 extends Polymer.Element {
      static get is() { return 'login-app2'; }
      static get properties() {
        return {
          email: {
            type: String//,
            //value: 'demopolymer-app'
          },
          password: {
            type: String,

          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
    mostrarResultadoLogin(){
      console.log("1: Llego el resultado");
      console.log(resultado);
      console.log("2: Proceso el resultado");
      this.logado=true;
    }



    logar(){
      var request = new XMLHttpRequest();
      request.open('POST', "http://localhost:3001/apitechu/v5/login", false);
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");
      request.setRequestHeader("email", this.email);
      request.setRequestHeader("password", this.password);


      request.send();

      this.respuesta = request.responseText;
      console.log(this.respuesta);
      console.log(request.status);

      if (request.status == 200){
        this.logado=true;

      } else {
                this.logado = false;
      }

    }



    mostrarError(){
      console.log(error);
      this.logado = false

    }
    }

    window.customElements.define(LoginApp2.is, LoginApp2);
  </script>
</dom-module>
