<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-altas">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">

      <div class="row">
        <h1>Gestor de Altas</h1>
      </div>

      <div class="row">
        <button on-click="insertarClientes" class="btn btn-warning" type="button" name="button">Insertar Clientes</button>
        <button on-click="insertarMovimientos" class="btn btn-success" type="button" name="button">Insertar Movimientos</button>
      </div>
      <div class="row">
        <span hidden$="{{!insertado}}">Cliente Insertado</span>

      </div>
      <div class="row">
              <span hidden$="{{!insertadom}}">Movimiento Insertado</span>
      </div>

    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorAltas extends Polymer.Element {
      static get is() { return 'gestor-altas'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          insertado: {
            type: Boolean,
            value: false
          },
          insertadom: {
            type: Boolean,
            value: false
          }
        };
      }

    insertarClientes(){
      var request = new XMLHttpRequest();
      //request.open('POST', "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
      request.open('POST', "http://localhost:3001/Usuarios", false);
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");

      var nuevoCliente={"idcliente":"4", "nombre":"Levis", "apellido":"Wilson", "email":"levis@bbva.com", "password":"1234", "fecharegistro":"08/07/2019"};
      var body= JSON.stringify(nuevoCliente);

      request.send(body);

      this.respuesta = request.responseText;
      console.log(this.respuesta);

      if (request.status == 200){
        this.insertado=true;

      } else {
        this.insertado = false;
      }

      //mostrarError1(){
      //    console.log(error);
      //    this.insertado = false

    //}
    }
    insertarMovimientos(){
      var request = new XMLHttpRequest();
      //request.open('POST', "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
      request.open('POST', "http://localhost:3001/Movimientos", false);
      request.setRequestHeader("Accept", "application/json");
      request.setRequestHeader("Content-Type", "application/json");

      var nuevoMovimiento={
        "idcliente":"3",
        "nombre":"Levis",
        "apellido":"Wilson",
        "celular" : "5514516600",
        "email" : "levis@bbva.com",
        "password" : "1234",
        "direccion" : {
            "calle" : "Aragon",
            "numero" : "139",
            "alcaldia" : "Gustavo Madero"
        },
        "fecharegistro" : "08/07/2019",
        "cuentas" : [
            {
                "numcuenta" : "1234567890123456",
                "saldo" : 28000,
                "limite" : 50000.0,
                "tipo" : "visa",
                "estado" : "activa"
            }
        ],
        "depositos" : [
            {
                "fecha" : "08/07/2019",
                "numcuenta" : "1234567890123456",
                "cantidad" : 3000.0,
                "lugar" : "sucursal"
            },
            {
                "fecha" : "08/07/2019",
                "numcuenta" : "1234567890123456",
                "cantidad" : 1500.0,
                "lugar" : "cajero"
            }
        ],
        "retiros" : [
            {
                "fecha" : "08/07/2019",
                "numcuenta" : "1234567890123456",
                "cantidad" : 500.0,
                "lugar" : "sin tarjeta"
            },
            {
                "fecha" : "08/07/2019",
                "numcuenta" : "1234567890123456",
                "cantidad" : 1000.0,
                "lugar" : "ventanilla"
            }
        ]
        }
      var body= JSON.stringify(nuevoMovimiento);

      request.send(body);

      this.respuesta = request.responseText;
      console.log(this.respuesta);

      if (request.status == 200){
        this.insertadom=true;

      } else {
        this.insertadom = false;
      }


    }



  }

    window.customElements.define(GestorAltas.is, GestorAltas);
  </script>
</dom-module>
