<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="/src/gestor-altas/gestor-altas.html">

<dom-module id="my-view4">
  <template>
    <style include="shared-styles">
      :host {
        display: inline-block;
        font-family: 'PT Sans',sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2em;
        padding: 20px 27px 19px;
        text-transform: uppercase;
      }
    </style>

    <!--<div class="card">
      <div class="circle">2</div>
      <h1>Movimientos</h1>
      <p>Se muestran los Movimientos de las tarjetas de los clientes</p>
      <p>Detalles de Depósitos y Retiros.</p>
    </div>-->
    <gestor-altas></gestor-altas>

  </template>

  <script>
    class MyView4 extends Polymer.Element {
      static get is() { return 'my-view4'; }
    }

    window.customElements.define(MyView4.is, MyView4);
  </script>
</dom-module>
